
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-rounded{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.w-15{
  width: 15%;
}

.w-65{
  width: 65%;
}

.transparent_bg{
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.4;
  z-index: 5;
}

.error_modal_title{
  color:red;
}

.z_index_6{
  z-index: 6;
}